.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.logo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    gap: 2em;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.icons{
    display: flex;
    gap: 1em;
}

.links{
    text-align: center;
}

.links li {
    list-style: none;
    line-height: 2rem;
}

.links a{
    text-decoration: none;
}

.links h2{
    padding: 1em 0;
}



@media only screen and (min-width: 880px){

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2em;
}

.logo-content{
    flex-direction: row;
    padding: 2em 10em;
    justify-content: space-between;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-size: cover;
}


.links{
    display: flex;
    gap: 10em;
}

.logo-container{
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: left;
   
}

.logo-content{
    background-image: none;
}

.footer-line{
    width: 78%;
    margin: 0 auto;
    padding: 0;
    border-bottom: solid black 1px;
}

}