.line{
    background-color: black;
    border: solid 0.5px rgb(157, 88, 157);
    width: 50%;
    margin: 4em auto 1em;
}

.mid-container{
    display: flex;
    flex-direction: column;
    width: 88%;
    margin: auto;
}

.mid-container h1{
    text-align: left;
    padding: 0 2em;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 3px;
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin-top: 4em;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
    gap: 1.5em;
    font-size: 1rem;
    line-height: 1.5rem;
}



.card h2 {
    text-align: left;
}


/* DESKTOP */
@media only screen and (min-width: 880px){
.card-container{
    display: flex;
    flex-direction: row;
    padding: 0 3em;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    gap: 1.5em;
    font-size: 1rem;
    line-height: 1.5rem;
}

.card img{
    width: 80px;
}

.mid-container h1{
    text-align: left;
    padding: 0 2.5em;
    font-size: 3rem;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 3px;
}

.line{
    width: 15%;
    margin: 3em 8em;
}

}

